*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    padding: 20px;
}

.header-img{
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 10px;
}